.form-group
  label(for="title") Event name
  input.form-control(type="text", name="title", placeholder="What's your event name?", value=event.title)
.form-group
  label(for="title") Place
  input.form-control(type="text", name="title", placeholder="What's your event place?", value=event.title)
.form-group
  label(for="event") event
  textarea.form-control(name="content", rows="5")= event.content
.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="tags separated by spaces", value=event.tags ? event.tags.join(" ") : "")
