@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
body {
  font: 1rem 'Montserrat', sans-serif;
  margin-top: 50px;
  padding-top: 1em; }
  body > .main-content {
    min-height: 400px; }

a:hover {
  text-decoration: none; }

.jumbotron {
  margin-top: -1em;
  background: url("/images/bg.jpg") no-repeat left center;
  min-height: 20em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5; }

.footer {
  margin-top: 1em;
  padding-top: 1em;
  color: #aaa;
  border-top: .05rem solid #e5e5e5; }

.main-title {
  font-family: 'Raleway';
  font-size: 2.5rem;
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #eee;
  color: #011a72; }

.header > .navbar {
  background-color: #011a72 !important; }

.search-input-group {
  margin: 1em 0;
  width: 100%;
  position: relative; }
  .search-input-group input {
    border-radius: 2em;
    padding-left: 2.5em;
    width: 100% !important; }
  .search-input-group i {
    font-size: 1.3em;
    top: 0.4em;
    left: 0.5em;
    color: #bababa;
    position: absolute; }

h1 {
  color: orange;
  text-align: left; }

#final {
  background: gray;
  text-align: center; }

#finalbutton h4 {
  text-align: left;
  color: white; }

#btn-group {
  margin-left: 49em; }

.navbar {
  color: orange; }

.navbar h3 {
  font-size: 3em;
  margin-left: 3em; }

.message {
  color: gray;
  text-align: center;
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

.message button {
  font-size: 1em; }

.card {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em; }

#cardlist {
  margin-bottom: 1em; }

.seemore {
  text-align: center; }

.seemore h3 {
  margin-top: 1em;
  margin-bottom: 1em; }

#finalmenu {
  background: gray;
  color: white;
  text-align: left;
  margin-left: 137px;
  margin-right: 137px; }

#final {
  margin-left: 152px;
  margin-right: 152px; }

.img1 {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  overflow: hidden; }

.img2 {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  overflow: hidden; }

.img3 {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  overflow: hidden; }

.img1 .text1 {
  position: absolute;
  color: white;
  top: 50%;
  left: 27%; }

.img1 .text2 {
  position: absolute;
  color: white;
  top: 50%;
  left: 80%; }

.img2 .text1 {
  position: absolute;
  color: white;
  top: 50%;
  left: 13.5%; }

.img2 .text2 {
  position: absolute;
  color: white;
  top: 50%;
  left: 48%; }

.img2 .text3 {
  position: absolute;
  color: white;
  top: 50%;
  left: 80%; }

.img3 .text1 {
  position: absolute;
  color: white;
  top: 50%;
  left: 15%; }

.img3 .text2 {
  position: absolute;
  color: white;
  top: 50%;
  left: 60%; }

.image1 #img_1 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.image1:hover #img_1 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.image2 #img_2 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.image2:hover #img_2 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.image3 #img_3 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.image3:hover #img_3 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.image4 #img_4 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.image4:hover #img_4 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.image5 #img_5 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.image5:hover #img_5 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.image6 #img_6 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.image6:hover #img_6 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.image7 #img_7 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.image7:hover #img_7 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

#img_1 {
  width: 66%; }

#img_2 {
  width: 33%; }

#img_3 {
  width: 33%; }

#img_4 {
  width: 33%; }

#img_5 {
  width: 33%; }

#img_6 {
  width: 39%; }

#img_7 {
  width: 60%; }

hr {
  width: 100%; }

@media screen and (max-width: 450px) {
  h1 {
    color: pink; }
  .carousel-inner {
    height: 1000%;
    width: 100%; }
  #btn-group {
    margin-left: 0em;
    font-size: 1px;
    height: 50px;
    width: 1px; }
  .navbar h3 {
    font-size: 1em;
    margin-left: 3em; }
  .message {
    font-size: 1em; }
  #img1 {
    height: 50%;
    width: 100%; } }

@media only screen and (min-device-width: 767px) {
  h1 {
    color: black; }
  .carousel-inner {
    height: 1000%; }
  #btn-group {
    margin-left: 0em; } }

@media only screen and (min-device-width: 1284px) {
  h1 {
    color: black; }
  .carousel-inner {
    height: 1000%; }
  #btn-group {
    margin-left: 0em; } }

.form-signin {
  width: 300px;
  margin: 0 auto;
  padding: 1em; }
  .form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px; }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px; }
  .form-signin .form-control:focus {
    z-index: 2; }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .form-signin .sub {
    margin: 1em 0; }

.main-title .small {
  float: right;
  font-size: 1rem;
  color: #bbb; }

.event {
  line-height: 160%;
  margin-bottom: 2em; }
  .event .title {
    font-size: 1.3rem; }
  .event .content {
    color: #666; }
  .event .tags {
    margin: 0.5em 0; }

.author {
  text-align: right;
  font-size: 0.8em;
  color: #81bbf2; }

.numbers {
  text-align: left;
  color: #81bbf2; }

.number {
  font-size: 1.2em;
  font-weight: bold;
  color: #0f5ca6; }

.events .content {
  max-height: 5em;
  overflow: hidden;
  text-overflow: ellipsis; }

.show .content {
  white-space: pre-wrap; }

.show .buttons {
  margin: 1em 0; }

.show .answer {
  position: relative;
  margin-bottom: 1em; }
  .show .answer .like-badge {
    text-align: center;
    padding: 0.5em;
    position: absolute; }
    .show .answer .like-badge .button {
      font-size: 0.8em; }
  .show .answer .card-body {
    padding-left: 4em; }
  .show .answer .content {
    margin-bottom: 0.5em;
    color: #888; }

.event-like-btn, .answer-like-btn {
  cursor: pointer; }
  .event-like-btn .for-loading, .answer-like-btn .for-loading {
    display: none; }
  .event-like-btn.loading, .answer-like-btn.loading {
    filter: opacity(30%);
    cursor: wait; }
    .event-like-btn.loading > span, .answer-like-btn.loading > span {
      display: none; }
    .event-like-btn.loading .for-loading, .answer-like-btn.loading .for-loading {
      display: inline-block; }
  .event-like-btn.disabled, .answer-like-btn.disabled {
    color: #bbb;
    cursor: default; }

/*# sourceMappingURL=style.css.map */